* {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

nav > * {
    margin: 0 8px 0 8px;
}

nav > a {
    text-decoration: none;
    font-size: 13px;
    color: black;
}

nav > a:hover {
    text-decoration: underline;
}

.more-options-button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    background-color: white;
    cursor: pointer;
}

.more-options-button:hover {
    background-color: rgb(233, 227, 227);
}

.login-button {
    background-color: #1a73e8;
    font-size: 15px;
    color: white;
    width: 120px;
    height: 37px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.login-button:hover {
    background-color: #1b66c9;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container > img {
    margin-top: 28px;
}

#container > .search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    border: 1px solid #dfe1e5;
    width: 580px;
    height: 35px;
    border-radius: 50px;
    padding: 5px;
}

#container > .search > input {
    width: 425px;
    border: none;
}

#container > .options {
    margin-top: 30px;
}

#container > .options > button {
    font-size: 14px;
    margin: 0 10px 0 10px;
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

#container > .options > button:hover {
    border: 1px solid #dfe1e5;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer > p {
    margin-left: 20px;
}

footer > .links {
    padding: 20px;
    border-top: 1px solid #dfe1e5;
    display: flex;
    justify-content: space-between;
}

footer > .links > .left-links, .right-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

footer > .links > .left-links > a, footer > .links > .right-links > a {
    text-decoration: none;
    color: black;
}

footer > .links > .left-links > a:hover, footer > .links > .right-links > a:hover {
    text-decoration: underline;
}